/* Default background image */
body {
  background-image: url('img/scene.png');
  background-size: cover;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  body {
    background-image: url('img/scene_mobile.png');
    background-size: cover;
  }
  .image-container {
    display: flex; /* Use flexbox to stack the images */
    flex-flow: column wrap; /* Stack the images vertically */
  }
  .animation {
    margin-bottom: 20px; /* Add some space between the images */
  }
}

  /* create a container for the images */
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
  }

  /* style the images */
  .image-container img {
    width: 20%;
    margin-left: 10vw;
    margin: 10px;
    opacity: 0.8;
  }

.animation {
  transition: transform 0.3s ease-in-out;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.animation:hover{
  animation: shake 0.8s ease-in-out infinite;
}

 /* style the spotlight image */
 
#spotlight {
   position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: 0.9;
    opacity: 0;
    transition: all 1s;
  pointer-events: none;
}

audio {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  color: white;
  padding: 10px;
  height: 7vh;
  box-sizing: border-box;
  font-size: 14px;
}
audio::-webkit-media-controls-panel {
  background-color: #eb4034;
  height: 7vh;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
